* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(170, 166, 166, 0.144);
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100vh;
}

.page-wrapper {
    overflow: clip;
}

.navbar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 100px;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: right;
    margin: 35px 0;
    margin-right: 35px;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.logo-img {
    margin: 10px 0;
    margin-left: 10px;
}

.main-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    justify-items: center;
}

.main-btn {
    background-color: brown;
    color: white;
    width: 35%;
    text-align: center;
    padding: 20px 0;
    border-radius: 15px;
    margin-top: 40px;
}

.container-one {
    text-align: center;
    color: brown;
    font-weight: 30px;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.head-text {
    text-align: center;
}

.head-text h2 {
    font-size: 60px;
    padding: 25px 0;
}

.big-container {
    width: 1400px;
    margin: 500px auto 0 auto;
}

.main-box {
    position: relative;
}

.grid-layout {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 5px;
    margin-top: 60%;
}

.content-box {
    background-color: rgba(170, 145, 145, 0.199);
    justify-content: left;
    border-radius: 7px;
    padding: 160px 30px 30px;
}

.box-text {
    font-size: 30px;
    line-height: 30px;
    padding-bottom: 20px;
    
}

.image-container {
    width: 1400px;
    margin: 20% auto 0 auto;
    position: relative;
}

.image-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
}

.image {
    width: 100%;
}

.page-footer {
    background-color: rgba(22, 22, 22, 0.678);
    color: rgb(207, 209, 209);
    font-size: 20px;
    width: 100%;
    height: 400px;
    margin-top: 10%;
    padding: 50px 50px;
}

.grid-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20%;
}

.grid-box-two {
    justify-items: right;
}

.pravacy-text, .flex-box-two {
   margin-top: 50px;
   font-size: 16px;
}

.flex-box-two {
    margin-top: 70px;
    line-height: 40px;
    width: 100%;
    padding-right: 30px;
    text-align: right;
}

.anchor:hover {
    color: rgb(218, 17, 17);
    text-decoration: underline;
}

.nav-anchor {
    font-size: 20px;
}

.nav-anchor:hover {
    color: rgb(218, 17, 17);
    text-decoration: underline;
}

